In [1]:
# https://leetcode.cn/problems/big-countries/description/
#[篩選資料，並輸出指定columns]
#找出大國的國家名稱、人口、面積     大國定義：面積至少300萬平方公里 或 人口至少2500萬

In [2]:
import pandas as pd

# 創建數據字典
data = {
    'name': ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola'],
    'continent': ['Asia', 'Europe', 'Africa', 'Europe', 'Africa'],
    'area': [652230, 28748, 2381741, 468, 1246700],
    'population': [25500100, 2831741, 37100000, 78115, 20609294],
    'gdp': [2034300000000, 1296000000000, 1886810000000, 371200000000, 10099000000000]
}

world = pd.DataFrame(data)
print(world)

          name continent     area  population             gdp
0  Afghanistan      Asia   652230    25500100   2034300000000
1      Albania    Europe    28748     2831741   1296000000000
2      Algeria    Africa  2381741    37100000   1886810000000
3      Andorra    Europe      468       78115    371200000000
4       Angola    Africa  1246700    20609294  10099000000000

In [3]:
#法一：用.loc
def big_countries1(world: pd.DataFrame) -> pd.DataFrame:
    return(
        world.loc[
            (world["area"]>=3000000) | (world["population"]>=25000000) ,["name","population","area"]
        ]
    )
    
big_countries1(world)

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741

In [ ]:
#法二：用dataframe給定條件後，於return時挑選要輸出的columns
def big_countries2(world: pd.DataFrame) -> pd.DataFrame:
    df = world[ (world["area"]>=3000000) | (world["population"]>=25000000) ]
    
    return df[["name","population","area"]] #DataFrame type

big_countries2(world)

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741